posts/dockerHostFolder
posts/dockerImages
posts/dockerComposeFiles
posts/Dockerfile_loop
posts/dockerfile_ping
posts/dokerfile_contexto
posts/directorio prueba
posts/prueba
posts/dockerfile_multi_stage
posts/movies.csv
posts/movies.dat
posts/introduccion_python
posts/mi_paquete_de_python
posts/scripts_bash
posts/audio.wav
posts/notebook_git
id_rsa.ppk
posts/__pycache__/*
posts/FastAPI/
posts/runs
posts/word2vec.*
maximofn/*.db
maximofn/*.py[cod]
maximofn/.web
maximofn/__pycache__/
posts/.chroma
posts/chromadb
posts/wikitext-103
posts/wikitext-103-tokenizer.json
posts/results
.vscode
posts/accelerate_scripts

portfolio