**/*.vscode
**/__pycache__

# Posts
posts/dockerHostFolder
posts/dockerImages
posts/dockerComposeFiles
posts/Dockerfile_loop
posts/dockerfile_ping
posts/dokerfile_contexto
posts/directorio prueba
posts/prueba
posts/dockerfile_multi_stage
posts/movies.csv
posts/movies.dat
posts/introduccion_python
posts/mi_paquete_de_python
posts/scripts_bash
posts/audio.wav
posts/notebook_git
posts/__pycache__/*
posts/FastAPI/
posts/runs
posts/word2vec.*
posts/.chroma
posts/chromadb
posts/wikitext-103
posts/wikitext-103-tokenizer.json
posts/results
posts/accelerate_scripts
posts/ollama_modelfile
posts/.env
posts/rag_txt_dataset
posts/chromadb_persisten_storage
posts/testing_python

# Portfolio
astro_blog_example
astro_example
portfolio_fasthtml

# test.ipynb
posts/html_files/test.html
posts/html_files/test_EN.html
posts/html_files/test_PT.html
posts/notebooks_translated/test_EN.ipynb
posts/notebooks_translated/test_PT.ipynb
portfolio/src/pages/test.astro
portfolio/src/pages/en/test.astro
portfolio/src/pages/pt-br/test.astro

# Preparar notebook
preparar_notebook/src/.env
preparar_notebook/preprocess_jupyter_notebook.ipynb

# .env
**/*.env
preparar_notebook/src/.env
