---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import LinkedIn from '../components/icons/LinkedIn.astro';
import Social from '../components/icons/Social.astro';

const green = "text-green-500/100";

const linkedin = "https://www.linkedin.com/in/maximofn/";
---

<Layout title="Welcome to Astro.">
	<main>

		<section class="w-full mx-auto lg:w-[740px] py-44">
			<img 
				class="rounded-full w-12 h-12 mb-4"
				src="http://maximofn.com/wp-content/uploads/2023/09/maximo-0014_resized_291x436.jpg"
				alt="MaximoFN logo"
			/>
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
				Hola, soy M치ximo Fern치ndez <div class="flex justify-center items-center"><Badge>Machine Learning Engineer</Badge></div>
			</h1>
			<h2 class="text-2xl text-wrap">
				<span>+10 a침os de experiencia. Computer vision y LLMs. Optimizaci칩n con </span><span class={green}>TensorRT</span>. Experiencia en dispositivos <span class={green}>Jetson</span>.
			</h2>
			<nav class="flex gap-x-2">
				<Social href={linkedin}>
					<LinkedIn class="w-6 h-6"/> Linkedin
				</Social>
			</nav>
		</section>
	</main>
</Layout>

