---
const { color_palette } = await import('../../consts.json');

interface Props {
    text: string
    background_color: string
    border_color: string
    font_color: string
}

const {
    text,
    background_color,
    border_color,
    font_color,
} = Astro.props;
---

<button>
    <p>{text}</p>
</button>

<style define:vars={{background_color, border_color, font_color}}>
    button {
        color: var(--font_color);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--border_color);
        border-radius: 10px;
        padding: 0px 20px;
        background-color: var(--background_color);
        width: fit-content;
    }
</style>
