---
import SocialLinks from '@components/SocialLinks.astro';

interface Props {
    languaje: string,
}

const {
    languaje,
} = Astro.props;

let message = '';

if ( languaje.toLowerCase() === 'es' ) {
    message = '¿Quieres aplicar la IA en tu proyecto? Contactame!';
} else if ( languaje.toLowerCase() === 'en' ) {
    message = 'Do you want to apply AI in your project? Contact me!';
} else if ( languaje.toLowerCase() === 'pt' ) {
    message = 'Quer aplicar IA no seu projeto? Entre em contato!';
}
---

<section class="call-to-action">
    <h3>{message}</h3>
    <SocialLinks></SocialLinks>
</section>

<style>
    .call-to-action {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
</style>