---
const { color_palette } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');
const { max_width } = await import('@portfolio/consts.json');
const { svg_paths } = await import('@portfolio/consts.json');

interface Props {
    text: string[];
    languaje: string;
}

const { 
    text,
    languaje,
} = Astro.props;

const code_block_bakcground_color = color_palette.color_950;
const code_block_font_color = colors.color_white;
const code_block_border_color = color_palette.color_700;
const button_hover_background_color = color_palette.color_900;
---

<pre class="code-block" tabindex="0" data-languaje={languaje}>
	<div class="code-container">
		{text.map((line, index) => (
			<code>{line}</code>
		))}
	</div>
	<div class="copy-button-container">
		<!-- <p class="speech-bubble">Copied!</p> -->
		<img class="copy-button-image" src={svg_paths.copy_svg_path} alt="Copy" width="20" height="20">
	</div>
</pre>

<style define:vars={{
	code_block_bakcground_color,
	code_block_font_color,
	code_block_border_color,
	button_hover_background_color,
	max_width,
}}>

	pre {
		background-color: var(--code_block_bakcground_color);
		color: var(--code_block_font_color);
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
        align-items: center;
		font: 1rem 'Fira Code', monospace;
		padding: 10px 2px 20px 20px;
		border: 1px solid var(--code_block_border_color);
		border-radius: 6px;
		max-width: var(--max_width);
		width: 100%;
		margin: 0px;
		padding: 0px;
	}

	.code-container {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;
		gap: 0px;
		width: 100%;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: 20px;
	}

	pre .copy-button-container {
		align-self: flex-start;
	}

	.copy-button-container {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		align-content: flex-end;
		gap: 10px;
		margin-top: 5px;
		margin-right: 20px;
	}

	.copy-button-container p {
		margin: 0px;
	}

	.copy-button-image {
        margin: 0px;
        padding: 10px;
        max-width: fit-content;
        max-height: fit-content;
		border: none;
		border-radius: 5px;
        background-color: transparent;
        cursor: pointer;
	}

	img:hover {
		background-color: var(--button_hover_background_color);
	}

    /* code {
        margin-right: 30px;
		width: 100%;
    } */

	/* .speech-bubble {
        position: relative;
        background: green;
		outline: 2px solid rgb(0, 63, 0);
        border-radius: 5px;
		align-content: center;
		padding: 7px 5px;
    }

    .speech-bubble:after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-left-color: green;
        border-right: 0;
        margin-top: -7px;
        margin-right: -7px;
    }

	.speech-bubble:hover {
		-webkit-animation: fade-in-bottom 0.6s both;
	} */
	
</style>

<script>
	const codeBlock = document.querySelectorAll('.code-block'); 
  
	codeBlock.forEach(block => {
		const buttonCopy = block.querySelector('.copy-button');
		const codeLines = block.querySelectorAll('code'); 
  
		buttonCopy.addEventListener('click', () => {
			let textForCopy = '';
	
			codeLines.forEach(line => {
				textForCopy += line.textContent + '\n';
			});
			// Remove last '\n'
			textForCopy = textForCopy.slice(0, -1);
	
			navigator.clipboard.writeText(textForCopy)
			.then(() => {
				// Change the text of the button
				buttonCopy.textContent = 'Copied!'; 
				setTimeout(() => {
					buttonCopy.textContent = 'Copy';
				}, 1500); 
			})
			.catch(err => {
				console.error('Error copying text: ', err);
			});
		});
	});
</script>

