---
const { color_palette } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');
const { max_width } = await import('@portfolio/consts.json');
const { svg_paths } = await import('@portfolio/consts.json');

interface Props {
    text: string[];
    languaje: string;
}

const { 
    text,
    languaje,
} = Astro.props;

const code_block_bakcground_color = color_palette.color_950;
const code_block_font_color = colors.color_white;
const code_block_border_color = color_palette.color_700;
const button_hover_background_color = color_palette.color_900;
---

<pre class="code-block" tabindex="0" data-languaje={languaje}>
	<div class="code-container">
		{text.map((line, index) => (
			<div set:html={line}></div>
		))}
	</div>
</pre>

<style define:vars={{
	code_block_bakcground_color,
	code_block_font_color,
	code_block_border_color,
	button_hover_background_color,
	max_width,
}}>

	pre {
		color: var(--code_block_font_color);
		border: 1px solid var(--code_block_border_color);
		padding: 3px 0px 3px 30px;
		border-radius: 7px;
		margin-top: 1px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
        align-items: center;
		max-width: var(--max_width);
		width: 100%;
		margin: 0px;
		padding: 0px;
	}

	.code-container {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;
		gap: 0px;
		width: 100%;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: 20px;
	}

	.code-block .code-container div {
		text-wrap: pretty;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	@media (max-width: 418px) {
		.code-block .code-container div {
			font-size: 0.6rem;
		}
	}

</style>

