---
import CountryFlag from "./CountryFlag.astro";

interface Props {
    spain_flag_svg_path: string;
    united_states_flag_svg_path: string;
    brazil_flag_svg_path: string;
}

const { 
    spain_flag_svg_path,
    united_states_flag_svg_path,
    brazil_flag_svg_path,
} = Astro.props;

const debug_outline = '0px';
---

<div>
    <CountryFlag
        img_path={spain_flag_svg_path}, 
        img_alt='Spanish',
    ></CountryFlag>
    <CountryFlag
        img_path={united_states_flag_svg_path}, 
        img_alt='English',
    ></CountryFlag>
    <CountryFlag
        img_path={brazil_flag_svg_path}, 
        img_alt='Portuguesse',
    ></CountryFlag>
</div>

<style define:vars={{debug_outline}}>
    div {
        outline: var(--debug_outline) solid red;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2px
    }
</style>