---
import CountryFlag from "./CountryFlag.astro";

const { svg_paths } = await import('@portfolio/consts.json');

interface Props {}

const {} = Astro.props;
---

<div>
    <CountryFlag
        img_path={svg_paths.spain_flag_svg_path}, 
        img_alt='Spanish',
    ></CountryFlag>
    <CountryFlag
        img_path={svg_paths.united_states_flag_svg_path}, 
        img_alt='English',
    ></CountryFlag>
    <CountryFlag
        img_path={svg_paths.brazil_flag_svg_path}, 
        img_alt='Portuguesse',
    ></CountryFlag>
</div>

<style>
    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2px
    }
</style>