---
interface Props {
    img_path: string;
    img_alt: string;
}

const {
    img_path,
    img_alt,
} = Astro.props

const debug_outline = '0px';
---

<nav>
    <img src={img_path} alt={img_alt} />
</nav>

<style define:vars={{debug_outline}}>
    img {
        width: 20px;
        height: 20px;
    }
</style>