---
interface Props {
    img_path: string;
    img_alt: string;
    href: string;
}

const {
    img_path,
    img_alt,
    href,
} = Astro.props

const debug_outline = '0px';
---

<nav>
    <a href={href}>
        <img onerror="this.parentNode.removeChild(this)" onerror="this.parentNode.removeChild(this)" decoding="async" src={img_path} alt={img_alt} />
    </a>
</nav>

<style define:vars={{debug_outline}}>
    img {
        width: 20px;
        height: 20px;
    }
</style>