---
import GoToSiteTransparent from '@components/GoToSiteTransparent.astro';
import SocialLinks from '@components/SocialLinks.astro';

const { social_links } = await import('@portfolio/consts.json');
const { svg_paths } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');

interface Props {
    languaje: string,
}

const {
    languaje,
} = Astro.props;

if ( languaje.toLowerCase() === 'es' ) {
    var phrase = 'Ninguna IA fue lastimada en la realización de esta página';
}
else if ( languaje.toLowerCase() === 'en' ) {
    var phrase = 'No AI was harmed in the making of this page';
}
else if ( languaje.toLowerCase() === 'pt' ) {
    var phrase = 'Nenhuma IA foi ferida na realização desta página';
}
else {
    var phrase = 'No AI was harmed in the making of this page';
}

const color_white = colors.white;
---

<footer>
    <SocialLinks></SocialLinks>
    <GoToSiteTransparent
        text="Page code"
        svg={svg_paths.arrow_up_right_from_square_svg_path}
        url={social_links.portfolio_link_internal}
        target="_blank"
    ></GoToSiteTransparent>
    <p><span>{phrase}</span></p>
</footer>

<style define:vars={{
	color_white,
}}>
    footer {
        margin-top: 200px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 50px;
        border-top: 1px solid #fafafa;
    }
    span {
        font-weight: bold;
		color: rgba(232, 230, 227, 0);
		-webkit-text-fill-color: transparent;
		background-image: linear-gradient(270deg, rgb(139, 103, 223), rgb(148, 127, 142));
		background-clip: text;
    }
</style>