---
interface Props {
	text: string;
	svg: string;
    url: string;
	color_50: string;
	color_100: string;
	color_200: string;
	color_300: string;
	color_400: string;
	color_500: string;
	color_600: string;
	color_700: string;
	color_800: string;
	color_900: string;
	color_950: string;
	color_white: string;
}

const { 
    text,
    svg,
    url,
	color_50,
	color_100,
	color_200,
	color_300,
	color_400,
	color_500,
	color_600,
	color_700,
	color_800,
	color_900,
	color_950,
	color_white,
} = Astro.props;
---

<a class="go-to-site" href={url} target="_blank">
    <p>{text}</p>
    <img src={svg} alt="arrow svg" loading="lazy" />
</a>

<style define:vars={{
	color_50,
	color_100,
	color_200,
	color_300,
	color_400,
	color_500,
	color_600,
	color_700,
	color_800,
	color_900,
	color_950,
}}>
    img {
        width: 20px;
        height: 20px;
    }

    a {
        text-decoration: none;
        color: var(--color_white);
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        border: 1px solid var(--color_300);
        border-radius: 10px;
        padding: 0px 10px;
        background-color: var(--color_700);
        width: fit-content;
    }
    
    p {
    }
</style>
