---
interface Props {
	text: string;
	svg: string;
    url: string;
	border_color: string;
	background_color: string;
}

const { text, svg, url, border_color, background_color } = Astro.props;
---

<a class="go-to-site" href={url} target="_blank">
    <p>{text}</p>
    <img src={svg} />
</a>

<style define:vars={{border_color, background_color}}>
    img {
        width: 20px;
        height: 20px;
    }

    a {
        text-decoration: none;
        color: var(--color_white);
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        /* border: 1px solid white; */
        border: 1px solid var(--border_color);
        border-radius: 10px;
        padding: 0px 10px;
        background-color: var(--background_color);
    }
    
    p {
    }
</style>
