---
const { color_palette } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');

interface Props {body: string}

const {body} = Astro.props;

const background_color = color_palette.color_700;
const border_color = color_palette.color_300_transparent;
---

<article class="pill">
	<p>{body}</p>
</article>

<style define:vars={{background_color, border_color}}>
	.pill {
		background-color: var(--background_color);
		box-shadow: 3px 3px 6px 0 hsla(0, 0%, 100%, 0.4);
		border: 1px solid var(--border_color);
		border-radius: 7px;
		min-width: 50px;
		max-width: 500px;
		min-height: 100px;
		align-content: center;
	}
	p {
		font-size: 1.5rem;
		margin: 30px;
	}
</style>
