---
interface Props {
    img_path: string;
    img_alt: string;
    url_link: string;
}

const {
    img_path,
    img_alt,
    url_link,
} = Astro.props

const debug_outline = '0px';
---

<nav>
    <a href={url_link} target="_blank">
        <img src={img_path} alt={img_alt} />
    </a>
</nav>

<style define:vars={{debug_outline}}>
    img {
        width: 20px;
        height: 20px;
    }
    
    a {
        outline: var(--debug_outline) solid yellow;
    }
</style>