---
import GithubBrandsSolid from '@icons/GithubBrandsSolid.astro';
import HuggingFaceLogoPirate from '@icons/HuggingFaceLogoPirate.astro';
import LinkedinBrandsSolid from '@icons/LinkedinBrandsSolid.astro';
import XtwitterBrandsSolid from '@icons/XtwitterBrandsSolid.astro';
import KaggleBrandsSolid from '@icons/KaggleBrandsSolid.astro';
import FacebookBrandsSolid from '@icons/FacebookBrandsSolid.astro';
import InstagramBrandsSolid from '@icons/InstagramBrandsSolid.astro';
import TikTokBrandsSolid from '@icons/TikTokBrandsSolid.astro';
import TwitchBrandsSolid from '@icons/TwitchBrandsSolid.astro';
import YouTubeBrandsSolid from '@icons/YouTubeBrandsSolid.astro';
import CurriculumSolid from '@icons/CurriculumSolid.astro';

const { social_links } = await import('@portfolio/consts.json');
const { svg_paths } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');

interface Props {}

const {} = Astro.props;

const icon_background_color = colors.color_white;
---

<div>
    <HuggingFaceLogoPirate />
    <GithubBrandsSolid />
    <LinkedinBrandsSolid />
    <XtwitterBrandsSolid />
    <KaggleBrandsSolid />
    <FacebookBrandsSolid />
    <InstagramBrandsSolid />
    <TikTokBrandsSolid />
    <TwitchBrandsSolid />
    <YouTubeBrandsSolid />
    <CurriculumSolid />
</div>

<style define:vars={{icon_background_color}}>
    div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 1px;
        padding-bottom: 4px;
    }
    a {
        width: 20px;
        height: 20px;
        color: var(--icon_background_color);
    }
</style>