---
---

<section class="marquee-container">
    <div class="technologies-container1">
        <div class="technology">
            <img decoding="async" src="/icons/python-logo-only.svg" alt="Python logo" width="100" height="100" loading="lazy">
            <p>Python</p>
        </div>
        <div class="technology">
            <img decoding="async" src="/icons/pytorch-logo.svg" alt="Pytorch logo" width="100" height="100" loading="lazy">
            <p>Pytorch</p>
        </div>
        <div class="technology">
            <img decoding="async" src="/icons/hf-logo-official.svg" alt="HugginFace logo" width="100" height="100" loading="lazy">
            <p>HugginFace</p>
        </div>
        <div class="technology">
            <img decoding="async" src="/icons/langchain.svg" alt="Langchain logo" width="100" height="100" loading="lazy">
            <p>Langchain</p>
        </div>
        <div class="technology">
            <img decoding="async" src="/icons/ollama-dark.svg" alt="Ollama logo" width="100" height="100" loading="lazy">
            <p>Ollama</p>
        </div>
        <div class="technology">
            <img decoding="async" src="/icons/astro-icon-light-gradient.svg" alt="Astro logo" width="100" height="100" loading="lazy">
            <p>Astro</p>
        </div>
    </div>

    <div class="technologies-container2">
        <div class="technology">
            <img decoding="async" src="/icons/python-logo-only.svg" alt="Python logo" width="100" height="100" loading="lazy">
            <p>Python</p>
        </div>
        <div class="technology">
            <img decoding="async" src="/icons/pytorch-logo.svg" alt="Pytorch logo" width="100" height="100" loading="lazy">
            <p>Pytorch</p>
        </div>
        <div class="technology">
            <img decoding="async" src="/icons/hf-logo-official.svg" alt="HugginFace logo" width="100" height="100" loading="lazy">
            <p>HugginFace</p>
        </div>
        <div class="technology">
            <img decoding="async" src="/icons/langchain.svg" alt="Langchain logo" width="100" height="100" loading="lazy">
            <p>Langchain</p>
        </div>
        <div class="technology">
            <img decoding="async" src="/icons/ollama-dark.svg" alt="Ollama logo" width="100" height="100" loading="lazy">
            <p>Ollama</p>
        </div>
        <div class="technology">
            <img decoding="async" src="/icons/astro-icon-light-gradient.svg" alt="Astro logo" width="100" height="100" loading="lazy">
            <p>Astro</p>
        </div>
    </div>

    <div class="technologies-container3">
        <div class="technology">
            <img decoding="async" src="/icons/python-logo-only.svg" alt="Python logo" width="100" height="100" loading="lazy">
            <p>Python</p>
        </div>
        <div class="technology">
            <img decoding="async" src="/icons/pytorch-logo.svg" alt="Pytorch logo" width="100" height="100" loading="lazy">
            <p>Pytorch</p>
        </div>
        <div class="technology">
            <img decoding="async" src="/icons/hf-logo-official.svg" alt="HugginFace logo" width="100" height="100" loading="lazy">
            <p>HugginFace</p>
        </div>
        <div class="technology">
            <img decoding="async" src="/icons/langchain.svg" alt="Langchain logo" width="100" height="100" loading="lazy">
            <p>Langchain</p>
        </div>
        <div class="technology">
            <img decoding="async" src="/icons/ollama-dark.svg" alt="Ollama logo" width="100" height="100" loading="lazy">
            <p>Ollama</p>
        </div>
        <div class="technology">
            <img decoding="async" src="/icons/astro-icon-light-gradient.svg" alt="Astro logo" width="100" height="100" loading="lazy">
            <p>Astro</p>
        </div>
    </div>
</section>

<style>
    .marquee-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 20px;
        width: 100%;
        position: relative;
    }
    .technologies-container1, .technologies-container2, .technologies-container3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        overflow-x: hidden;
        margin-top: 100px;
        width: 100%;
    }
    .technologies-container1 {
        position: absolute;
        animation: marquee1 30s linear infinite;
    }
    .technologies-container2 {
        position: absolute;
        animation: marquee2 30s linear infinite;
    }
    .technologies-container3 .technology {
        opacity: 0;
    }
    .technology {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-right: 20px;
    }
    img {
        width: 100%;
        height: auto;
        max-height: 100px;
    }
    p {
        font-weight: bold;
    }
    @media (max-width: 512px) {
        p {
            font-size: 0.6rem;
        }
    }
    
    @keyframes marquee1 {
        0% { transform: translateX(100%); }
        50% { transform: translateX(50%); }
        100% { transform: translateX(0%); }
    }
    @keyframes marquee2 {
        0% { transform: translateX(-10%); }
        50% { transform: translateX(-60%); }
        100% { transform: translateX(-110%); }
    }
</style>