---
---

<section class="technologies-container">
    <div class="technology">
        <img decoding="async" src="/icons/python-logo-only.svg" alt="Python logo" width="100" height="100" loading="lazy">
        <p>Python</p>
    </div>
    <div class="technology">
        <img decoding="async" src="/icons/pytorch-logo.svg" alt="Pytorch logo" width="100" height="100" loading="lazy">
        <p>Pytorch</p>
    </div>
    <div class="technology">
        <img decoding="async" src="/icons/hf-logo-official.svg" alt="HugginFace logo" width="100" height="100" loading="lazy">
        <p>HugginFace</p>
    </div>
    <div class="technology">
        <img decoding="async" src="/icons/langchain.svg" alt="Langchain logo" width="100" height="100" loading="lazy">
        <p>Langchain</p>
    </div>
    <div class="technology">
        <img decoding="async" src="/icons/ollama-dark.svg" alt="Ollama logo" width="100" height="100" loading="lazy">
        <p>Ollama</p>
    </div>
    <div class="technology">
        <img decoding="async" src="/icons/astro-icon-light-gradient.svg" alt="Astro logo" width="100" height="100" loading="lazy">
        <p>Astro</p>
    </div>
</section>

<style>
    .technologies-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        overflow-x: hidden;
        margin-top: 100px;
    }
    .technologies-container::after {
    }
    .technologies-container {
        animation: marquee 15s linear infinite;
    }
    .technology {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-right: 20px;
    }
    img {
        width: 100%;
        height: auto;
        max-height: 100px;
    }
    p {
        font-weight: bold;
    }
    @media (max-width: 512px) {
        p {
            font-size: 0.6rem;
        }
    }
    
    @keyframes marquee {
        0% { transform: translateX(0); }
        100% { transform: translateX(-100%); }
    }
</style>